/* Move down content because we have a fixed navbar that is 3.5rem tall */

@font-face {
  font-family: 'Serifa';
  src: url('fonts/SerifaD-Regu.eot');
  src: url('fonts/SerifaD-Regu.eot?#iefix') format('embedded-opentype'),
      url('fonts/SerifaD-Regu.woff2') format('woff2'),
      url('fonts/SerifaD-Regu.woff') format('woff'),
      url('fonts/SerifaD-Regu.svg#SerifaD-Regu') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
  padding-top: 1.5rem;
  background-color: black;
  font-family: Serifa,Constantia,Lucida Bright,Lucidabright,Lucida Serif,Lucida,DejaVu Serif,Bitstream Vera Serif,Liberation Serif,Georgia,serif;
  font-size: medium;
}

.jumbotron{
  background-color: #505759 !important;  
  color: whitesmoke;    
  margin-bottom: 0rem;
  height: 17%;
  padding-top: 1.5%;
  padding-bottom: 0%;
}

.cfacs-banner-img{
  background-image: url("img/cfacs-ai-medium.png");
  background-repeat: no-repeat;
  float:right;
}

.cfacs-banner{
  text-shadow: 0.15rem 0.15rem #242424;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 4.5%;
}

.cfacs-container{
  padding-top: 1.5rem;
  background-color: white;
  display: block;
}

.cfacs-footer{
  color:white;
}

.cfacs-info{
  color:white;
  background-color: #242424;
  text-align: center;
}

.cfacs-btn-yellow{
  background-color: #FFCD00 !important;
  border-color: #FFCD00 !important;
  color: black !important;
  text-shadow: none;
}

.cfacs-profile{
  /*margin-right: 3rem;
  margin-left: 3rem;*/
  text-align: center;
  /* font-style: italic;   */
}

.cfacs-profile-img{
  max-width: 145px; 
}

.cfacs-links{
  /* color: white; */
  color: #759CC9;
  font-weight: bold;
}

.cfacs-links:hover{
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.cfacs-icon{
  padding-right: 1.5rem;
}

.table-talk-theme{
  background-color:#98AFC7;
  color: white;
}

.table-break-event{
  background-color: royalblue;
  color: white;
}
